<!-- including header  -->

<%- include('include/header.ejs') %>


<div class="death-container">
    <a href="/">Back To Home</a>
    Death certificate registration
</div>


<!-- including footer -->
<% include('include/footer.ejs') %>