<!-- include header -->
<%- include('include/header.ejs') %>

<!-- hero section here -->

<div class="hero-container">
  <div class="left-stiky">
    <h5>
      <span><%= name %></span>
    </h5>
    <form action="/logout?_method=DELETE" method="post" class="logout">
      <button type="submit">Log Out</button>
    </form>
  </div>
  <div class="middle-container">
    <div class="map">
      <img
        src="https://birendranagarmun.gov.np/sites/birendranagarmun.gov.np/files/gallery/Map%204x3%20New%20.jpg"
        alt="map"
      />
    </div>

    <div class="ward-information">
      <p>
        कर्णाली प्रदेशको राजधानीको रुपमा रहेको यस वीरेन्द्रनगर नगरपालिका वि.सं.
        २०३३ सालमा सुर्खेत उपत्यका भित्र पर्ने जर्वुटा गाँउ पञ्चायतको केही
        भागलाई समेटेर वीरेन्द्रनगर ११ र १२ वडा बनाईएको थियो । हाल देश संघिय
        संरचनामा गईसकेपछि साविक वडा नं. ११ र १२ लाई मिसाएर वडा नं. १२ कायम
        गरिएको छ । यस वडाको दक्षिणतर्फ रत्नराजमार्ग उत्तरतर्फ जवुर्टा तथा
        सिद्धपाईलाको डाँडा, पुर्व नेवारे खोला, पश्चिम ईत्राम खोला पर्दछ । यस
        वडामा जर्वुटा पञ्चायतबाट तल झरि बसोवास गरेका मगर समुदायको बाहुल्यता
        रहेको र हाल अन्यत्रबाट बसाई सरि आएर बस्ने बाहुन, क्षेत्री लगायत अन्य
        समुदायको पनि त्यत्तिकै बसोवास रहेको छ । यस वडाका वासिन्दाहरु धेरै जसो
        सरकारी रोजगारीमा संलग्न छन् । विशेष गरि निजामति सेवामा प्रवेश गरेर यस
        वडालाई सरकारी क्षेत्रमा काम गर्ने कर्मचारीहरुको नमूना गाउँ बनाउन प्रयत्न
        गरेको पाइन्छ । साविक वडा नं. १२ मा सबैजसो घरमा निजामति सेवामा संलग्न
        रहेका व्यक्तिहरु छन् । यहाँका बासिन्दाहरु सरकारी सेवामा रहेर पनि धेरै
        जसो घरमा कृषि कार्य गर्ने र पशु चौपाया पाल्ने चलन केही समय अघि सम्म
        रहेको तर हाल पशु चौपाया तथा कृषि काम गर्न विस्तारै कमि हुदै गएको छ । यस
        वडाको पर्यटकिय स्थलको रुपमा वडाको उत्तर तर्फको जर्वुटा डाँडा रहेको छ ।
        यस स्थानबाट सुर्खेत उपत्यका सम्पूर्ण रुपमा देख्न सकिन्छ र पर्यटन
        प्रवर्धन गरि यस क्षेत्रलाई पर्यटकिय क्षेत्रको रुपमा विकास गरेमा यस वडा
        लगायत समग्र नगरको आर्थिक वृद्धिमा थप टेवा पु¥याउनेमा दुई मत छैन । यस
        वडाको क्षेत्रफाल ८.८० ब.कि.मी., घरधुरी संख्या १९२४, महिलाको संख्या ४३४३
        र पुरुषकको संख्या ३८०० गरि जम्मा ८१४३ जनसंख्या रहेको छ ।
      </p>
      <img
        src="https://english.onlinekhabar.com/wp-content/uploads/2020/12/Dev-Kumar-Subedi.jpg"
        alt="mayor of surkhet"
      />
    </div>
    <div class="population">
      <h3>Population</h3>
      <h5>८१४३</h5>
    </div>
    <div class="contact">
      <h3>Contact Number:</h3>
      <h5>०८३-४१४२१४</h5>
    </div>
    <div class="notice">
      <h3>Ward Notices:</h3>
      <a href="#"
        >पोशाक भत्ता निकासा सम्बन्धमा । ( सबै वडा कार्यालय, का.म.पा)</a
      >
      <a href="#">तालिम सम्बन्धमा । (१-३२ वडा कार्यालय, का.म.पा)</a>
      <a href="#">तालिम सम्बन्धमा । (वडा अध्यक्षज्यू ,१-३२ वडा )</a>
    </div>
    <div class="building">
      <img
        src="https://birendranagarmun.gov.np/sites/birendranagarmun.gov.np/files/styles/large/public/wad12photo.png?itok=LaJZ78Tb"
        alt="ward building"
      />
    </div>
  </div>
  <div class="right-services">
    <h3>Services</h3>
    <ul>
      <li><a href="/birth-certificate">Birth Certificate</a></li>
      <li><a href="/death-certificate">Death Certificate</a></li>

      <li><a href="/marriage-certificate">Marriage Certificate</a></li>
      <li><a href="/vital-certificate">Vital Certificate</a></li>
    </ul>
  </div>
</div>

<!-- include footer -->
<% include('include/footer.ejs') %>
