<!-- include header -->
<%- include('include/header.ejs') %>

<!-- hero section here -->

<div class="hero-container">
  <div class="left-stiky">
    <h5>
      <span><%= name %></span>
    </h5>
    <a href="#">Log out</a>
  </div>
  <div class="middle-container">
    <div class="ward-information">
      <p>
        कर्णाली प्रदेशको राजधानीको रुपमा रहेको यस वीरेन्द्रनगर नगरपालिका वि.सं.
        २०३३ सालमा सुर्खेत उपत्यका भित्र पर्ने जर्वुटा गाँउ पञ्चायतको केही
        भागलाई समेटेर वीरेन्द्रनगर ११ र १२ वडा बनाईएको थियो । हाल देश संघिय
        संरचनामा गईसकेपछि साविक वडा नं. ११ र १२ लाई मिसाएर वडा नं. १२ कायम
        गरिएको छ । यस वडाको दक्षिणतर्फ रत्नराजमार्ग उत्तरतर्फ जवुर्टा तथा
        सिद्धपाईलाको डाँडा, पुर्व नेवारे खोला, पश्चिम ईत्राम खोला पर्दछ । यस
        वडामा जर्वुटा पञ्चायतबाट तल झरि बसोवास गरेका मगर समुदायको बाहुल्यता
        रहेको र हाल अन्यत्रबाट बसाई सरि आएर बस्ने बाहुन, क्षेत्री लगायत अन्य
        समुदायको पनि त्यत्तिकै बसोवास रहेको छ । यस वडाका वासिन्दाहरु धेरै जसो
        सरकारी रोजगारीमा संलग्न छन् । विशेष गरि निजामति सेवामा प्रवेश गरेर यस
        वडालाई सरकारी क्षेत्रमा काम गर्ने कर्मचारीहरुको नमूना गाउँ बनाउन प्रयत्न
        गरेको पाइन्छ । साविक वडा नं. १२ मा सबैजसो घरमा निजामति सेवामा संलग्न
        रहेका व्यक्तिहरु छन् । यहाँका बासिन्दाहरु सरकारी सेवामा रहेर पनि धेरै
        जसो घरमा कृषि कार्य गर्ने र पशु चौपाया पाल्ने चलन केही समय अघि सम्म
        रहेको तर हाल पशु चौपाया तथा कृषि काम गर्न विस्तारै कमि हुदै गएको छ । यस
        वडाको पर्यटकिय स्थलको रुपमा वडाको उत्तर तर्फको जर्वुटा डाँडा रहेको छ ।
        यस स्थानबाट सुर्खेत उपत्यका सम्पूर्ण रुपमा देख्न सकिन्छ र पर्यटन
        प्रवर्धन गरि यस क्षेत्रलाई पर्यटकिय क्षेत्रको रुपमा विकास गरेमा यस वडा
        लगायत समग्र नगरको आर्थिक वृद्धिमा थप टेवा पु¥याउनेमा दुई मत छैन । यस
        वडाको क्षेत्रफाल ८.८० ब.कि.मी., घरधुरी संख्या १९२४, महिलाको संख्या ४३४३
        र पुरुषकको संख्या ३८०० गरि जम्मा ८१४३ जनसंख्या रहेको छ ।
      </p>

      <h2><%= name %> is the mayer of the city.</h2>
      <div class="">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
        adipisci ipsum, velit laudantium tenetur possimus deleniti? Eius neque
        molestias nihil iusto, unde amet aspernatur earum exercitationem maiores
        harum sint rem?
      </div>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse,
        quisquam! Quasi, deleniti earum, officiis porro consectetur obcaecati ab
        error impedit delectus labore, molestias placeat sapiente rerum
        dignissimos. Corrupti illum, impedit, saepe quae omnis quas debitis at
        libero non aliquid sunt blanditiis! Unde rerum accusamus laborum
        consequuntur quae sint in esse libero animi, aliquid, natus magnam
        architecto corrupti eveniet dicta, quos obcaecati dolorem. Aspernatur
        error ut neque exercitationem vitae. Suscipit quia exercitationem
        inventore excepturi officiis tenetur illum numquam incidunt,
        necessitatibus quisquam aliquam. Pariatur quisquam minus corporis
        laborum distinctio sunt harum, cumque dolor quod beatae dolore obcaecati
        soluta dolorem voluptate officiis dolorum quas recusandae libero odit
        rerum quia praesentium non! Eveniet, ullam voluptatibus? Dolores, quis
        labore. Dolorum tempore, commodi id labore vitae minus praesentium
        perferendis consequuntur itaque nihil modi iure veritatis tenetur
        eveniet rem soluta repudiandae adipisci assumenda doloribus! Ex error
        doloremque aliquam ratione itaque suscipit perferendis excepturi
        aspernatur ad inventore dolor asperiores consequuntur pariatur
        distinctio ab exercitationem mollitia adipisci eius delectus, odio iure
        reiciendis iusto necessitatibus. Quisquam ex corporis necessitatibus hic
        quo dolore quia eos, officiis tempore distinctio quos quis non
        praesentium tempora, nam mollitia consequuntur repudiandae doloremque
        ullam illo officia error odit. Et repudiandae autem dolorum voluptas
        aliquid tempora minus quia dolorem molestiae fugiat debitis, perferendis
        enim doloribus, facilis omnis? Consequatur temporibus recusandae
        voluptatibus possimus neque error at tempora esse. Quo laboriosam
        explicabo debitis unde ullam. Odit culpa minus ullam unde maxime.
        Quaerat aliquam placeat earum tenetur, nemo similique. Inventore nostrum
        eveniet est suscipit obcaecati neque voluptas quaerat? Porro nisi,
        voluptate possimus debitis veniam excepturi quasi alias? Ea accusantium
        consequuntur aliquid repellendus odio numquam commodi laborum blanditiis
        voluptatem assumenda eveniet molestiae sit, sunt quos aperiam nihil
        consectetur repudiandae dolor quia veritatis pariatur rem explicabo quo?
        Vitae expedita est accusamus necessitatibus saepe quis culpa nesciunt
        architecto suscipit aliquid reiciendis, praesentium ratione aperiam
        voluptatum facere mollitia totam magnam impedit quisquam, animi officia
        eius minima inventore. Fugit aperiam vitae neque aut hic quae possimus
        exercitationem soluta suscipit. Totam explicabo enim autem fugiat veniam
        possimus facere repellendus quibusdam obcaecati iure accusamus nostrum,
        molestias voluptatem repellat facilis illo, nihil exercitationem vitae
        perspiciatis eos cupiditate. Delectus, sunt maiores ea est blanditiis
        optio cupiditate beatae incidunt rem qui perspiciatis iure aut
        consectetur, dolor dolores architecto? At necessitatibus excepturi
        fugiat magnam eveniet recusandae omnis placeat officiis, provident, fuga
        laborum ut deleniti doloremque facere qui quasi odio commodi odit
        architecto est sed pariatur amet! Dolorem, vitae autem? A, illo.
      </div>
    </div>
  </div>
  <div class="right-services">
    <h3>Services</h3>
    <ul>
      <li><a href="#">Birth Certificate</a></li>
      <li><a href="#">Death Certificate</a></li>

      <li><a href="#">Marriage Certificate</a></li>
      <li><a href="#">Vital Certificate</a></li>
    </ul>
  </div>
</div>

<!-- include footer -->
<% include('include/footer.ejs') %>
