<!-- include header -->
<%- include('include/header.ejs') %>

<!-- hero section here -->

<div class="login-contianer">
  <h3 class="titlesign">Login Page</h3>

  <div class="form-container">
    <form action="/login" method="post">
      <div class="row1">
        <label for="email">Email</label>
        <input
          type="text"
          id="email"
          name="email"
          placeholder="email"
          required
        />
      </div>
      <div class="row1">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="password"
          required
        />
      </div>
      <button type="submit">Login</button>
    </form>
    <div class="otherwise">
      Didn't register yet? <a href="/register">Register</a>
    </div>

    <div class="error">
  <% if (messages.error) {%> <%= messages.error %> <% } %>
    </div>
  </div>
</div>

<!-- include footer -->
<% include('include/footer.ejs') %>
