* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
/* html{
    font-size: 62.5%;
} */

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* background-color: crimson; */
  height: auto;
  width: 100%;
  /* position: sticky;
    top: 0%;
    left: 0%; */
}
.container-info {
  height: 34px;
  width: 100%;
  background-color: rgb(195, 195, 195);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.info-social a i {
  font-size: 1.5rem;
  text-align: center;
  color: rgb(24, 24, 222);
  margin: 2rem;
}

.container-info .info-contact {
  display: flex;
  justify-content: center;
}
.info-contact .phone {
  margin-right: 2rem;
  color: black;
}
.info-contact .email {
  margin-left: 2rem;
  color: black;
}

.container-main {
  height: 170px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
.container-main .container-main-left img {
  object-fit: contain;
  height: 130px;
  width: 100%;
}
.container-main .container-main-center h3 {
  font-size: 2.1rem;
  color: rgb(235, 64, 98);
}
.container-main .container-main-center h5 {
  font-size: 1.4rem;
  color: rgb(235, 64, 98);
  text-align: center;
  margin-top: 1rem;
}
.container-main .container-main-right .nep-logo-gif {
  object-fit: contain;
  height: 130px;
}
.container-newz {
  height: 34px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* background-color: rgb(180, 180, 180); */
  background-color: rgb(195, 195, 195);
}
.container-newz .newz {
  width: 30%;
  margin: auto;
}
.container-newz .newz h3 {
  font-size: 1.2rem;
  font-weight: bold;
  float: right;
  margin-right: 1.7rem;
}
.container-newz marquee {
  color: rgb(31, 27, 27);
  font-size: 1.2rem;
}

/* styling dropdown menu */
.contain .nav-menu {
  height: 30px;
  width: 100%;
  background-color: #04aa6d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-menu .homebtn {
  margin: 2rem;
}
.nav-menu .homebtn a {
  color: white;
  /* padding: 16px; */
  font-size: 16px;
  font-weight: 800;
  font-size: 18px;
  text-decoration: none;
}
.nav-menu .homebtn a:hover {
  text-decoration: underline;
}

.dropbtn {
  background-color: #04aa6d;
  color: white;
  /* padding: 16px; */
  font-size: 16px;
  border: none;
  font-weight: 800;
  font-size: 18px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #04aa6d;
}

img {
  height: 100px;
}

.login-signup {
  display: flex;
}
.login-signup a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-left: 1rem;
}
.login-signup a:hover {
  text-decoration: underline;
}

/* registration page styling  */
.signup-contianer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.signup-contianer .titlesign {
  font-size: 2rem;
  color: #333;
  font-weight: bold;
  margin: 1.5rem 0rem;
  /* border-bottom: 2px solid #333; */
  padding-bottom: 0.4rem;
  text-align: center;
}
.signup-contianer .form-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 390px;
  width: 515px;
  border: 2px solid black;
}

.signup-contianer .form-container label {
  font-size: 1.2rem;
  color: rgb(84, 84, 84);
  padding: 0.5rem;
}
.signup-contianer .form-container input {
  padding: 0.4rem 0.7rem;
  width: 100%;
  height: 42px;
  border: 1px solid #04aa6d;
  outline: none;
  border-radius: 0.5rem;
}
.signup-contianer .form-container button {
  width: 60%;
  height: 42px;
  outline: none;
  margin-top: 1rem;
  border: 1px solid #04aa6d;
  border-radius: 0.5rem;
  background: transparent;
  font-weight: bold;
}
.signup-contianer .form-container button:hover {
  background-color: #04aa6d;
  color: white;
  transition: all 0.2s ease;
}
.signup-contianer .form-container .otherwise {
  margin-top: 1rem;
}
.signup-contianer .form-container .otherwise a {
  font-size: 1.3rem;
  margin-left: 0.4rem;
}

/* styling login page */

.login-contianer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.login-contianer .titlesign {
  font-size: 2rem;
  color: #333;
  font-weight: bold;
  margin: 1.5rem 0rem;
  /* border-bottom: 2px solid #333; */
  padding-bottom: 0.4rem;
  text-align: center;
}
.login-contianer .form-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 355px;
  width: 515px;
  border: 2px solid black;
}
.login-contianer .form-container label {
  font-size: 1.2rem;
  color: rgb(84, 84, 84);
  padding: 0.5rem;
}
.login-contianer .form-container input {
  padding: 0.4rem 0.7rem;
  width: 100%;
  height: 42px;
  border: 1px solid #04aa6d;
  outline: none;
  border-radius: 0.5rem;
}
.login-contianer .form-container button {
  width: 60%;
  height: 42px;
  outline: none;
  margin-top: 1rem;
  border: 1px solid #04aa6d;
  border-radius: 0.5rem;
  background: transparent;
  font-weight: bold;
}
.login-contianer .form-container button:hover {
  background-color: #04aa6d;
  color: white;
  transition: all 0.2s ease;
}
.login-contianer .form-container .otherwise {
  margin-top: 1rem;
}
.login-contianer .form-container .otherwise a {
  font-size: 1.3rem;
  margin-left: 0.4rem;
}
.login-contianer .form-container .error {
  margin-top: 1rem;
  color: crimson;
  font-weight: bold;
  font-size: 1.5rem;
}

/* styling hero container #index page / home page */
.hero-container {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  position: relative;
}
.hero-container .left-stiky {
  position: absolute;
  top: 0%;
  left: 0%;
  margin: 1rem;
  border: 1px solid #04aa6d;
  padding: 0.5rem 0.8rem;
  background-color: #04aa6d;
  border-radius: 0.4rem;
}
.hero-container .left-stiky h5 {
  font-size: 1rem;
  font-weight: bold;
  color: white;
}
.hero-container .left-stiky .logout {
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  /* margin-top: 0.5rem; */
}
.hero-container .left-stiky .logout button {
  font-size: 1rem;
  padding: 0.1rem 0.8rem;
  border-radius: 0.3rem;
  background-color: #ddd;
  color: black;
  font-weight: bold;
  outline: none;
  border: none;
}
.hero-container .left-stiky .logout button:hover {
  background-color: white;
  transition: all 0.2s ease;
}

/* middle container styling */
.hero-container .middle-container {
  margin-left: 15%;
  margin-top: 2rem;
  width: 60%;
}

/* home page services section  */
.hero-container .right-services {
  margin-top: 2rem;
  width: 20%;
}
.right-services h3 {
  font-size: 1.9rem;
  font-weight: bold;
  color: rgb(80, 80, 80);
  letter-spacing: 0.1rem;
}
.right-services ul li {
  list-style: none;
  font-size: 1.1rem;
  padding: 0.6rem 0rem;
}
.right-services ul li a {
  text-decoration: none;
  color: #04aa6d;
}
.right-services ul li a:hover {
  text-decoration: underline;
}

/* styling birth-certificate section */
.birth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.birth-container .back {
  position: absolute;
  top: 5%;
  left: 2%;
  font-size: 1.1rem;

  font-weight: bold;
  border: 2px solid 04aa6d;
  background-color: #04aa6d;
  border-radius: 0.3rem;
}
.birth-container .back a {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
}
.birth-container .back a:hover {
  color: #333;
  transition: all 0.3s ease;
}
.birthform-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em 0rem 2rem;
  width: 100%;
}
.birthform-container .title {
  font-size: 2rem;
  color: #04aa6d;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}
.birthform-container form {
  width: 100%;
  display: flex;
  justify-content: center;
}
.birthform-container form .personal label {
  /* margin: 0rem; */
  font-size: 1.3rem;
  color: rgb(65, 65, 65);
  margin: 1rem 0rem;
  font-weight: bold;
}

.birthform-container form .personal input {
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 0rem 1rem;
}
.birthform-container form .personal button {
  margin: 2rem 0rem;
  width: 30%;
  text-align: center;
  height: 38px;
  border: 1px solid;
  outline: none;
  border-radius: 0.2rem;
}

/* save data contaner */
.datasave-container {
  position: relative;
  display: flex;
  justify-content: center;
}
.datasave-container .back {
  position: absolute;
  top: 5%;
  left: 2%;
  font-size: 1.1rem;
  font-weight: bold;
  border: 2px solid 04aa6d;
  background-color: #04aa6d;
  border-radius: 0.3rem;
}
.datasave-container .back a {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
}
.datasave-container .back a:hover {
  color: #333;
  transition: all 0.3s ease;
}
.datasave-container .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.datasave-container .details .det-title {
  margin: 1.1rem 0rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.datasave-container .details .users {
  border: 1px solid;
  width: 500px;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.datasave-container .details .users > div {
  font-size: 1.3rem;
  padding: 0.2rem 0rem;
  color: #333;
}

.datasave-container .details .users div span {
  color: #04aa6d;
  font-weight: bold;
  margin: 0rem 0.7rem;
}
