*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}
/* html{
    font-size: 62.5%;
} */

.nav-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* background-color: crimson; */
    height: auto;
    width: 100%;
}
.container-info{
    height: 34px;
    width: 100%;
    background-color: rgb(195, 195, 195);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.info-social a i{
    font-size: 1.5rem;
    text-align: center;
    color: rgb(24, 24, 222);
    margin: 2rem;
}

.container-info .info-contact{
    display: flex;
    justify-content: center;
}
.info-contact .phone{
    margin-right: 2rem;
    color: black;
}
.info-contact .email{
    margin-left: 2rem;
    color: black;

}

.container-main{
    height: 170px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.container-main .container-main-left img{
    object-fit: contain;
    height: 130px;
    width: 100%;
}
.container-main .container-main-center h3{
    font-size: 2.1rem;
    color: rgb(235, 64, 98);
}
.container-main .container-main-center h5{
    font-size: 1.4rem;
    color: rgb(235, 64, 98);
    text-align: center;
    margin-top: 1rem;
}
.container-main .container-main-right .nep-logo-gif{
    object-fit: contain;
    height: 130px;
}
.container-newz{
    height: 34px;
    width: 100%;
    display: flex;  
    flex-direction: row;
    justify-content: center;
    /* background-color: rgb(180, 180, 180); */
    background-color: rgb(195, 195, 195);

    
}
.container-newz .newz{
    width: 30%;
    margin: auto;
}
.container-newz .newz h3{
    font-size: 1.2rem;
    font-weight: bold;
    float: right;
    margin-right: 1.7rem;
   
    
}
.container-newz marquee{
    color: rgb(31, 27, 27);
    font-size: 1.2rem;
} 







img{
    height: 100px;
}