<hr>
<h2>Login Page</h2>
<hr>
    
<form action="/login" method="post">
    <div>
        <label for="email">Email: </label>
        <br>
        <input type="email" id="email" name="email" required>
        <br>
        <br>
    </div>
    <div>
        <label for="password">Password: </label>
        <br>
        <input type="password" id="password" name="password" required>
        <br>
        <br>
    </div>

    <button type="submit">
        Login
    </button>

    <br>
    <br>
   <span>Dont have any account ? <a href="/register"> Register</a>. </span>
</form>

