.product_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 100%;
    margin: 2rem auto;
    text-align: center;
}
.product_container .title{
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    
}
.product_container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.product_container form .inputbox{
    width: 35%;
    padding:0.6rem 0.5rem ;
    font-size: 1rem;
    outline: none;
    border: 1px solid skyblue;
    margin-bottom: 1rem;
}
.product_container form button{
    font-size: 1.2rem;
    padding: 0.3rem 1rem;
    cursor: pointer;
}