<tr>
    <td>1</td>
    <td>Username</td>
    <td>demo@gmail.com</td>
    <td>Male</td>
    <td>Active</td>
    <td>
        <a href="/update_user" class="btn border-shadow update">
            <span class="text-gradient">
                <i class="fa-solid fa-pencil"></i>
            </span>
        </a>
        <a href="#" class="btn border-shadow delete">
            <span class="text-gradient">
                <i class="fa-solid fa-delete-left"></i>
            </span>
        </a>
    </td>

</tr>